{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "eol-last": 0,
    "max-len": 0,
    "new-cap": 1,
    "no-shadow": 0,
    "no-unused-expressions": 0,
    "no-param-reassign": [2, {
      "props": false
    }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "arrow-body-style": 0
  },
  "overrides": [{
    "files": "**/*.test.js",
    "globals": {
      "describe": true,
      "it": true
    }
  }],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}

