.c-app {
  background: #18232E;
  height: 100vh;
  color: white;
}

.c-content {
  text-align: center;
}

.c-header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 24px 60px 24px 60px;
  color: white;
  text-align: left;
}

.c-header h2 {
  margin: 0;
  display: inline-block;
}
