.dateFieldWrapper {
    width: auto;
    display: inline-block;
    text-align: left;
}

.input {
    font-size: 32px;
    display: inline-block;
}

.day {
    font-size: 16px;
    margin-right: 5px;
}

.month {
    font-size: 16px;
}

.year {
    font-size: 32px;
    display: block;
}