.timeAgoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .timeAgoWrapper {
        justify-content: flex-start;
    }
}

.input {
    font-size: 32px;
    display: inline-block;
    margin-right: 10px;
}

.daysText {
    display: inline-block;
}