.greenText {
    color: #0adc00;
}

.redText {
    color: #dc0000;
}

.amountFieldWrapper {
    color: white;
    margin-top: 60px;
}

.amountWrapper {
    position: relative;
    margin-top: 30px;
}

.amountToday {
     font-size: 6vw;
}

@media only screen and (min-width: 600px) {
    .amountToday {
        font-size: 6vw;
    }
}

.btcAmount {
    position: absolute;
    transform: translateY(-100%);
    top: 0;
}

@media only screen and (min-width: 600px) {
    .btcAmount {
        transform: translateY(-100%);
    }
}

.percentageIncrease {
    display: block;
    text-align: center;
    font-size: 32px;
    margin-top: 24px;
}

@media only screen and (min-width: 600px) {
    .percentageIncrease {
        font-size: 40px;
    }
}

.currency {
    position: absolute;
    transform: translate(-100%, 100%);
    bottom: 0;
}