.greenText {
    color: #0adc00;
}

.redText {
    color: #dc0000;
}

.amountWrapper {
    color: white;
    margin-top: 60px;

}

.amountToday {
    font-size: 90px;
}

.btcAmount {
    position: absolute;
    transform: translateX(-100%);
}

.percentageIncrease {
    display: block;
    text-align: center;
    font-size: 40px;
}