.c-datefield__wrapper {
    width: auto;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;

    background: rgba(1,1,1,0.2);
    border-radius: 4px;
    padding: 10px;
}

.c-datefield__day {
    font-size: 16px;
    margin-right: 5px;
}

.c-datefield__month {
    font-size: 16px;
}

.c-datefield__year {
    font-size: 32px;
    display: block;
}